# Mod_Autoindex
#<IfModule mod_autoindex.so>
  # Запрещаем просмотр содержимого папок
#  Options -Indexes
#</IfModule>

# Mod_Rewrite
#<IfModule mod_rewrite.so>
    Options +FollowSymlinks
    # Включаем mod_rewrite
    RewriteEngine On
    IndexIgnore */*

    RewriteRule ^cache/(.*)$ - [L] # открытваем доступ в cache как public
    RewriteRule ^images/(.*)$ - [L] # открытваем доступ в images как public
    RewriteRule ^uploads/(.*)$ - [L] # открытваем доступ в images как public

    # Перенаправляем administrator на входной скрипт админки
    RewriteRule ^cp/(.*)?$ backend/web/$1 [L,PT]
    # Перенаправляем все запросы на входной скрипт
    RewriteRule ^([^/].*)?$ frontend/web/$1

    RewriteCond %{REQUEST_URI} !index.php
#</IfModule>